<!DOCTYPE html>
<html>

<head>
  <title>TheVideoGameBox</title>
  <!-- MI CSS -->
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- SWIPER -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <!-- FONT LETTERS -->
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar sticky-top d-flex align-items-center justify-content-between shadow" id="cabecera">
    <div>
      <img src="/images/logo_grande_blanco.png" height="68" id="logo">
      <div class="btn-group ms-5 dropend">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="despliegueHeader">
          Juegos&nbsp;&nbsp;<i class="bi bi-controller"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end shadow">
          <a class="dropdown-item" href="/misAvisos">Mis avisos</a>
          <a class="dropdown-item" href="/historicoAvisos">Historial de avisos</a>
          <a class="dropdown-item" href="/avisosEntrantes">Avisos entrantes</a>
          <a class="dropdown-item" href="/gestionUsuarios">Gestión de usuarios</a>
          <div class="dropdown-divider"></div>
          <a class="cierre_sesion dropdown-item" href="/logout"><b>Cerrar sesión&nbsp;&nbsp;<i
                class="bi bi-box-arrow-right"></i></b></a>
        </div>
      </div>
    </div>
    <div class="me-4">
      <div class="input-group">
        <input type="search" class="form-control" id="id_search" name="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
        <span class="input-group-text" id="lupa">
          <i class="bi bi-search" id="searchHeader" width="22" height="22" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
  </nav>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" id="swiperMain">
        <h1 id="titleMain">Welcome to the country of video games</h1>
        <img src="/images/logo_grande_blanco.png" height="300">
        <h2>Your trusted video game website, where you can find the newest games, the most populars or find them by their genres.</h2>
        <h2>What are you waiting for?</h2>
      </div>
      <% bestGames.forEach(function(games) { %>
        <% for(var i = 0; i < 1; i++) { %>
          <div class="swiper-slide" style="background: linear-gradient(to left, transparent, #2b40ff), url('<%= games.screenshots[i] %>'); background-repeat: no-repeat; background-size: 100%; background-position: center;">
          <h1 class="mainTitle"><%= games.name%></h1>
          <p class="resumen"><%= games.summary%></p>
          </div>
        <% } %>
      <% }); %>
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
  </div>
  <div class="d-flex flex-column" id="comingDiv">
    <h1 class="titulo animate-title" id="commigSoon"><span style="font-size:80px;">C</span>oming <span style="font-size:80px;">S</span>oon</h1>
    <div class="row ms-3 me-3 animate-carrusel">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
          <div class="MultiCarousel-inner">
              <% comingSoon.forEach(function(game) { %>
                <div class="item d-flex justify-content-start align-items-end cards" style="background: url('<%= game.image %>'); background-repeat: no-repeat; background-size: cover; background-position: center;" data-id="<%= game.image %>" data-name="<%= game.name %>">
                    
                </div>
                <% }); %>
          </div>
          <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
          <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <h1 class="titulo animate-title" id="topGames">Most populars games</h1>
    <div class="row ms-3 me-3 animate-carrusel">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
          <div class="MultiCarousel-inner">
              <% topGames.forEach(function(game) { %>
                <div class="item d-flex justify-content-start align-items-end cards" style="background: url('<%= game.image %>'); background-repeat: no-repeat; background-size: cover; background-position: center;" data-id="<%= game.image %>" data-name="<%= game.name %>">
                    
                </div>
                <% }); %>
          </div>
          <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
          <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <h1 class="titulo animate-title" id="shooterGames">Shooters</h1>
    <div class="row ms-3 me-3 animate-carrusel">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
          <div class="MultiCarousel-inner">
              <% shooterGames.forEach(function(game) { %>
                <div class="item d-flex justify-content-start align-items-end cards" style="background: url('<%= game.image %>'); background-repeat: no-repeat; background-size: cover; background-position: center;" data-id="<%= game.image %>" data-name="<%= game.name %>">
                    
                </div>
                <% }); %>
          </div>
          <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
          <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <h1 class="titulo animate-title" id="adventureGames">Adventure</h1>
    <div class="row ms-3 me-3 animate-carrusel">
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
          <div class="MultiCarousel-inner">
              <% adventureGames.forEach(function(game) { %>
                <div class="item d-flex justify-content-start align-items-end cards" style="background: url('<%= game.image %>'); background-repeat: no-repeat; background-size: cover; background-position: center;" data-id="<%= game.image %>" data-name="<%= game.name %>">
                    
                </div>
                <% }); %>
          </div>
          <button class="btn btn-primary leftLst"><i class="bi bi-caret-left-fill"></i></button>
          <button class="btn btn-primary rightLst"><i class="bi bi-caret-right-fill"></i></button>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>

  // SWIPER CODE

  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    autoplay: {
    delay: 5000,
    },
    // If we need pagination
    pagination: {
        el: '.swiper-pagination',
        type: "bullets",
        clickable: true
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

  // ANIMATION CODE

      // CAROUSEL ANIMATION

  const animate_carrusel = document.querySelectorAll(".animate-carrusel");
  
  const observerCarrusel = new IntersectionObserver(function(entries){
    entries.forEach(function(entry){
      if(entry.isIntersecting){
        entry.target.classList.add('animation-carrusel');
      }
      else{
       // entry.target.classList.remove('animation-carrusel');
      }
    })
  },{
    threshold: 0
  });
  
  for(let i = 0; i < animate_carrusel.length; i++){
    const c = animate_carrusel[i];
    observerCarrusel.observe(c);
  }

      // CAROUSEL TITLEs

  const animate_title = document.querySelectorAll(".animate-title");

  const observerTitle = new IntersectionObserver(function(entries){
    entries.forEach(function(entry){
        if(entry.isIntersecting){
          entry.target.classList.add('animation-title');
        }
        else{
         // entry.target.classList.remove('animation-title');
        }
    })
  },{
    threshold: 0
  });

  for(let i = 0; i < animate_title.length; i++){
    const t = animate_title[i];
    observerTitle.observe(t);
  }


  // CARDS CODE

  $(".cards").hover(function () {
    let img = $(this).data("id");
    let name = $(this).data("name");
    $(this).css("background", "linear-gradient(to bottom, transparent, #333333), url(" + img + ")").css("background-size", "cover").css("background-position", "center").css("background-repeat", "no-repeat");
    $(this).append("<div class='container'><h2 class='nameGame'>" + name + "</h2></div>")
    $(this).children().show();
  }, function () {
    let img = $(this).data("id");
    $(this).css("background", "url(" + img + ")").css("background-size", "cover").css("background-position", "center").css("background-repeat", "no-repeat");
    $(this).children().remove();
  });

  // CAROUSEL CARDS

  $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ReSizeCarousel();

    $(window).resize(function () {
      ReSizeCarousel();
    });

    //this function define the size of the items
    function ReSizeCarousel() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
                // console.log("Primero if: " + itemWidth)
                // console.log(itemWidth * itemNumbers)
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
                //console.log("Segundo if: " + itemWidth)
                //console.log(itemWidth * itemNumbers)
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
                // console.log("Tercer if: " + itemWidth)
                // console.log(itemWidth * itemNumbers)
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
                // console.log("Ultimo if: " + itemWidth)
                // console.log(itemWidth * itemNumbers)
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            //console.log("Condition: " + itemsCondition)
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            //console.log("Transversal: "+ translateXval)
            $(el + ' ' + leftBtn).removeClass("over");
            //console.log(itemsCondition - itemWidth / 2)
            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});

</script>

</html>